@model Projekt3.Models.ProfileModel

@{
    ViewData["Title"] = "Profile";
}
<header>
    <div>
        @await Html.PartialAsync("LoggedInHeader")
    </div>
</header>
<h1>Profile</h1>

    <a asp-action="Home" class="word-link">Return to homepage</a>
    <hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Country</th>
            <th>Gender</th>
            <th>Sexual Orientation</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="@Model.ProfilePicture"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true"
                     alt="Profile Picture"/>

                <a class="word-link" asp-controller="Home" asp-action="DownloadFile" download>Download picture</a> 

            

            </td>
            <td>
                @Html.DisplayFor(model => model.Firstname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Lastname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Age)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @ViewBag.country.Name
            </td>
            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>
            <td>
                @Html.DisplayFor(model => model.SexualPreference)
            </td>
            <td>
                <a class="word-link" href="/Home/ProfileEdit">Edit</a>
            </td>
        </tr>
    </tbody>
</table>


