@model Projekt3.Models.ProfileModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Sexual Orientation</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img src="~/images/@Html.DisplayFor(model => model.ProfilePicture)"
                     class="rounded-circle"
                     height="40" width="40"
                     asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(model => model.Firstname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Lastname)
            </td>
            <td>
                @Html.DisplayFor(model => model.Age)
            </td>
            <td>
                @Html.DisplayFor(model => model.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Country)
            </td>
            <td>
                @Html.DisplayFor(model => model.Sex)
            </td>
            <td>
                @Html.DisplayFor(model => model.SexualPreference)
            </td>
            <td>
                @Html.ActionLink("Edit", "ProfileEdit", new { /**/ })
            </td>
        </tr>
    </tbody>
</table>




<div class="form-group">
    <input asp-action="ProfileEdit" type="submit" value="Edit Profile" class="btn btn-primary" />
</div>