@model IEnumerable<Projekt3.Models.ProfileModel>

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Firstname)</th>
            <th>@Html.DisplayNameFor(model => model.Lastname)</th>
            <th>@Html.DisplayNameFor(model => model.Age)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SexualPreference)
            </td>
            <td>
                @Html.ActionLink("Edit", "ProfileEdit", new { /**/ }) |
            </td>
        </tr>
        }
    </tbody>
</table>




<div class="form-group">
    <input asp-action="ProfileEdit" type="submit" value="Edit Profile" class="btn btn-primary" />
</div>