@model Projekt3.Models.ProfileModel

@{
    ViewData["Title"] = "ProfileEdit";
}
<header>
    <div>
        @await Html.PartialAsync("LoggedInHeader")
    </div>
</header>
<h1>ProfileEdit</h1>

<h4>ProfileModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfileEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" value="@ViewBag.pm.Username" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First name</label>
                        <input asp-for="Firstname" class="form-control" value="@ViewBag.pm.Firstname" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last name</label>
                        <input asp-for="Lastname" class="form-control" value="@ViewBag.pm.Lastname" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Age" class="control-label"></label>
                        <input asp-for="Age" class="form-control" value="@ViewBag.pm.Age" />
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" value="@ViewBag.pm.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender</label>
                        <select name="Sex" class="form-control" asp-items="@ViewBag.Sex" selected="@ViewBag.pm.Sex"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Sexual Orientation</label>
                        <select name="SexualPreference" class="form-control" asp-items="@ViewBag.SexPref" selected="@ViewBag.pm.SexualPreference"></select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Country</label>
                        <select name="Country" class="form-control" asp-items="@ViewBag.CountryDropdown" selected="@ViewBag.pm.Country"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Profile Picture</label>
                        <div class="custom-file">
                            <input asp-for="ProfilePicture" type="file" name="uploadFile" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Pick file</label>
                        </div>
                        <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" value="@ViewBag.pm.Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div>
                <input asp-action="ProfileEditApply" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Profile" class="word-link">Back to Profile</a>
</div>
